@mixin titleWrapper {
    background-color: $teal-blue;
    color: #fff;
    position: relative;
    text-align: center;
}

@mixin titleIcon {
    opacity: 0.6;
    display: inline-block;
    height: 30px;
    position: absolute;
    left: 8px;
    top: 8px;
}

@mixin title {
    font-size: 18px;
    margin: 10px;
    font-weight: 300;
    display: inline-block;
}