//Colors
$teal-blue: #398194;
$pumpkin-orange: #DF7643;
$light-stone-grey: #D5D2CE;
$mango: #daa33d;
$steelblue: #5e76a9;
$off-white: #fffff5;
$lights-darkness: #041322;
$sharp-grey: #7c7676;

// fonts
$font-karla: 'Karla', sans-serif;
$font-thin: 'Thasadith', sans-serif;    


