@import '../../../assets/scss/styles.scss';

nav {
    border-bottom: 5px solid $pumpkin-orange;
    padding: 15px 0;
    width: 100%;
    background: #fff;
    line-height: 1em;
    img {
        width: 175px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 768px) {
    nav {
        padding: 20px 0;
        position: fixed;
        z-index: 9999;
        div {
            img {
                width: 251px;
            }
        }
    }
}

@media screen and (min-width: 1250px) {
    nav {
        div {
            width: 1250px;
            margin: 0 auto;
        }
    }
}