@import '../../../assets/scss/styles.scss';

nav {
    border-bottom: 5px solid $pumpkin-orange;
    padding: 15px 0;
    width: 100%;
    background: #fff;
    img {
        width: 175px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 768px) {
    padding: 20px 0;
    nav {
        position: fixed;
        z-index: 9999;
        img {
            width: 251px;
        }
    }
}